
::ng-deep {
  .expenseEditClass {
    margin-top: 11rem;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
  }
  .expenseEditClass > .modal-content{
      border-radius: 15px;
  }
}

@media screen and (min-width: 1024px) {
  ::ng-deep {
    .expenseEditClass {
      max-width: 350px;
      margin-top: 11rem;
    }
  }

}
