<div class="wrap">
  <div class="container py-2">
    <h2 class="text-white text-center mt-4">Create New Category</h2>
    <div class="row mt-3 px-4">
      <form>
        <mat-form-field class="example-full-width">
          <mat-label class="text-white">Category Name</mat-label>
          <input type="text" matInput placeholder="Enter Category Name">
        </mat-form-field>
        <button mat-raised-button color="" class="add-btn mt-2"><mat-icon>add</mat-icon>Add</button>
      </form>
    </div>
    <div class="row mt-5 px-4">
      <mat-card  class="bg-dark">
        <mat-card-content class="" style="color: #7b7b7b;">Recent Category List</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

