<div class="wrap">
  <div class="container pt-2" style="padding-bottom: 90px;">
    <div class="row mt-3 px-4">
      <!-- <form [formGroup]="categoryForm">
        <mat-form-field class="example-full-width">
          <mat-label class="text-white">Category Name</mat-label>
          <input type="text" matInput placeholder="Enter Category Name" [(ngModel)]="categoryObj.description" formControlName="categoryname">
        </mat-form-field>
        <button mat-raised-button color="" class="add-btn mt-2" (click)="saveCategory()" [disabled]="!categoryForm.valid"><mat-icon>add</mat-icon>Add</button>
      </form> -->
    </div>
    <div class="row mt-5 px-4">
      <mat-card  class="bg-dark">
        <div class="row text-white" >
          <div class="col-md-12">
            <div class="row">
              <div class="col-5">
                Income
              </div>
              <div class="col-7">
                {{incomeTotal}}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-5">
                Expense
              </div>
              <div class="col-7">
                {{expenseTotal}}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-5">
                Total
              </div>
              <div class="col-7">
                {{totaldata}}
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

