<div class="wrap">
  <div class="container pt-2" style="padding-bottom: 90px;">
    <h2 class="text-white text-center mt-4">Create New Income</h2>
    <div class="row mt-3 px-4">
      <form [formGroup]="incomeForm">
        <mat-form-field class="example-full-width">
          <mat-label class="text-white">Amount</mat-label>
          <input type="text" matInput placeholder="Enter Amount" formControlName="amount" [(ngModel)]="incomeObj.amount">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label class="text-white">Choose Category</mat-label>
          <!-- <ng-select class="bg-white" [items]="Categories" bindLabel="description" bindValue="id">
          </ng-select> -->
          <mat-select name="countryString" class="{{false ? 'one' : 'two'}}"
          placeholder="Country" formControlName="category" [(ngModel)]="incomeObj.category">
          <mat-option *ngFor="let item of categoryList" [value]="item.description">{{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="" class="add-btn mt-2" (click)="saveIncome()" [disabled]="!incomeForm.valid"><mat-icon>add</mat-icon>Add</button>
      </form>
    </div>
    <div class="row mt-5 px-4">
      <mat-card  class="bg-dark">
        <mat-card-content class="fw-bold text-white">Recent Income List</mat-card-content>
        <div class="row">
          <div class="col-md-12">
            <ng-container *ngFor="let item of incomeList; let i=index">
              <!-- <div class="row"> -->
                <div class="col-md-12 px-4 mt-3">
                  <div class="row">
                    <div class="col-6">
                      <span class="text-white">{{item.amount}}</span><br>
                      <span class="text-white small">{{item.category}}</span>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                      <mat-icon class="ms-4 text-white" style="cursor: pointer;" (click)="editIncome(item)">edit</mat-icon>
                      <mat-icon class="ms-4 text-white" style="cursor: pointer;" (click)="deleteIncome(item.id)">delete</mat-icon></div>
                    </div>
                  </div>
              <!-- </div> -->
            </ng-container>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

