.wrap{
  background-color: #3c3535;
  height: 100vh;

  .example-full-width {
    width: 100%;
  }

  input::placeholder {
    color: white;
  }



  .add-btn{
    display: flex;
    margin: 0 auto;
  }
}

::ng-deep {
  .two .mat-select-value-text {
    color : red;
   }
  }
